@model IEnumerable<LABB_2.Models.CourseClass>

@{
    ViewData["Title"] = "Index";
}

<h1>Assigned Courses</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.TeacherName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CourseClassId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CourseClassId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CourseClassId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
